body {
    background-color: khaki;
}
.header {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.data {
    text-align: center;
}
form {
    background-color: #1F627F;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
}
form [type] {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
table {
    Margin:0 auto;
    width: 550px;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  tbody {
    color: black;
  }
  table th, table td {
    padding: 5px 10px;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  table tr {
    font: normal 14px Tahoma, Geneva, sans-serif;
    background-color: khaki ;
  }
  table td {
    -webkit-transition: all 0.7s ease-in-out 0s;
    -moz-transition: all 0.7s ease-in-out 0s;
    -o-transition: all 0.7s ease-in-out 0s;
    transition: all 0.7s ease-in-out 0s;
  }
  table th {
    background: #3EA4D0;
    color: white;
    text-shadow: 1px 1px 0 #1F627F;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 100px rgba(0, 0, 0, 0.15) inset;
    font: bold 16px Arial, Helvetica, sans-serif;
  }